body {
    background-color: lightslategray;
    color: azure;
    font-family: sans-serif;
    
}
h1 {
    text-align: center;
}
nav ul {
    text-align: center;
    color: aquamarine;
}
nav li {
    display: inline-block;
    padding: 1em;
    font-size: 2em;
    text-decoration: none;
    color: rgb(11, 51, 86);
}
a {
    color: inherit;
}
a:link {
    text-decoration: none;
}
